

body {
  font: 12px sans-serif;
}

.chart { 
  background: #fff;
}

p {
  font: 14px helvetica;
}


.axis path, .axis line {
  fill: none;
  stroke:#5e5d5d;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}

